* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   
}

body {
  font-family:monospace;
    height: 100vh;
    
}

.intro {
  height: 100vh;
}

.intro video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 110px;
  color: white;
}
.nav{
    overflow:hidden;
  background: rgba(0, 0, 0, 0) ;
    margin-top: 20px;
    position:fixed;
    padding-bottom: 1px;
    padding-top: 1px;
    z-index: 1;
    }

  .nav-button {
      /*resume*/
               float:inherit;
  color: #f2f2f2;
  text-align: center;
  padding-left: 23px;
  text-decoration: none;
  font-size: 20px;
  font-family: monospace;
  font-display: block;
            }
    
    .nav-button2 {
        /*projects*/
               float:inherit;
  color: #f2f2f2;
  text-align: center;
  /*padding-left: 2px;*/
        padding-bottom: 2px;
        padding-top: 2px;
        margin-left: 542px;
  text-decoration: none;
  font-size: 20px;
  font-family: monospace;
  font-display: block;
            }
    
  .nav-button:hover{
      /*resume*/
    /*color: darkslategrey;
      text-decoration-color: aqua;*/
      text-decoration:underline;
      cursor: url(imgsource/cursorss.cur), default;
    }
    
    
    .nav-button2:hover{
     /*projects*/ 
    /*color: darkslategrey;
      text-decoration-color: aqua;
        */
        transition-delay: 0.1;
        text-decoration:underline;
        cursor: url(imgsource/cursorss.cur), default;
    cursor transform-origin: 100% 100%;}
    
    
    
    .logo {
        padding-left: 460px;
        margin-top: 80px;
    }
