@import url('https://fonts.googleapis.com/css2?family=Lora&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

* {
  cursor: url(imgsource/cursorsss.cur);
}

body {
  font-family:'Quicksand', sans-serif;
  background-color:#0c0b0b;
  letter-spacing: 1px;
  box-sizing: border-box;
  cursor: url(imgsource/cursorsss.cur), default;
  /*background-color:#121012;*/
  height: 100%;
}

.logo{
  font-family: 'Major Mono Display', monospace;
  color: white;
  font-size: 40px;
  text-decoration: none;
  padding-top: 20px;
}

.logo:hover{
  text-decoration: none;
}

h7 {
  font-size: 25px;
}
            
.nav{
  overflow: hidden;
  background: rgba(0, 0, 0, 0) ;
  padding-top: 10px;
}

.works {
  color: rgb(255, 255, 255);
  background-color: transparent;
  display: inline-block;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-right:30px;
  text-decoration: none;
  font-size: 20px;      
}

.groups{
  padding-bottom: 50px;
}
            
span { 
  float: left;
  width: 25%;
}
            
.works:hover {
  text-decoration: overline;
  text-emphasis-style: dot;
}

.graphic{
  padding-right: 100px;
}
          
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

@media(max-width:960px){
  .container{
    padding-right: 3rem;
    padding-left: 3rem;
  }
}