@import url('https://fonts.googleapis.com/css2?family=Lora&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

* {
  cursor: url(imgsource/cursorsss.cur);
}

body {
  font-family:'Quicksand', sans-serif;
  /*background-color:#0c0b0b;*/
  letter-spacing: 1px;
  cursor: url(imgsource/cursorsss.cur), default;
  background-color:rgba(0,0,0,0);
  height: 100%;
}

.logo{
  font-family: 'Major Mono Display', monospace;
  color: white;
  font-size: 40px;
  text-decoration: none;
  padding-top: 20px;
}

.logo:hover{
  text-decoration: none;
}

h2{
  color: white;
  font-family:'Quicksand', sans-serif;
  font-size: 50px;
}

h3{
  color: white;
  font-family:'Quicksand', sans-serif;
  font-size: 20px;
  text-align: right;
}

.h7 {
  font-size: 25px;
}
            
.nav{
  overflow: hidden;
  background: rgba(0, 0, 0, 0) ;
  padding-top: 10px;
}

.works {
  color: rgb(255, 255, 255);
  background-color: transparent;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-right:30px;
  font-size: 20px;      
}

.works:hover {
  text-decoration: overline;
  text-emphasis-style: dot;
}

.groups{
  /*padding-bottom: 100px;*/
}

.graphic{
  /*padding-right: 100px;*/
  border: 50px solid rgba(0, 0, 0, 0);
  border-bottom: 50px solid rgba(0, 0, 0, 0) ;
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.graphics{
  /*padding-right: 100px;*/
  border: 50px solid rgba(0, 0, 0, 0);
  border-bottom:  solid rgba(0, 0, 0, 0);
  width: 100%;
  height: auto;
}
          
@media screen and (max-width: 500px) {
  .groups {
    width: 100%;
  }
}

@media(max-width:960px){
  .container{
    padding-right: 3rem;
    padding-left: 3rem;
  }
}